.left,
.center,
.right {
    height: 100%;
    width: auto;
    float: left;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.left{
    width: 20%;
    button {
        float: inline-end;
        color: #ffe5a7;
        text-decoration: none;
        border-radius: 11px;
        font-size: 20px;
        padding-inline-start: 5px;
        padding-inline-end: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-family: "Gill Sans Extrabold", sans-serif;
        background-color: rgb(85, 62, 47);
    }
    padding-bottom: 10px;
}
.center{
    width: 40%;
}
.right{
    .message {
        bottom: 10%;
        right: 0%;
        position: fixed;
    }
}